.rec-channel-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 480px) {
    display: none;
  }

  &__btns-wrapper {
    position: absolute;
    top: 16px;
    right: 149px;
    height: 40px;
    display: flex;
    align-items: center;
    column-gap: 40px;

    @media (max-width: 1280px) {
      right: 20px;
      column-gap: 20px;
    }

    .rec-channel-section__subscribe-btn {
      font-family: "Mulish";
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      padding: 10px 20px;
      border-radius: 20px;
      background-color: #ff0000;
      border: none;
      cursor: pointer;

      @media (max-width: 1024px) {
        display: none;
      }
    }

    .rec-channel-section__arrow-btns-wrapper {
      display: flex;
      column-gap: 10px;
    }
  }

  &__headline-wrapper {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    column-gap: 19px;

    .rec-channel-section__img-link-wrapper {
      display: flex;
      align-items: center;
      column-gap: 20px;
      text-decoration: none;

      .rec-channel-section__channel-img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
      }

      .rec-channel-section__channel-text {
        font-family: "Mulish";
        font-weight: bold;
        font-size: 26px;
        line-height: 33px;
        color: #19202c;
      }
    }

    .rec-channel-section__rec-label {
      font-family: "Mulish";
      font-size: 16px;
      line-height: 20px;
      color: #c2c2c2;
      align-self: flex-end;
      margin-bottom: 11px;

      @media (max-width: 864px) {
        display: none;
      }
    }
  }

  &__videos-block-wrapper {
    width: 100%;

    .rec-channel-section__videos-wrapper {
      display: flex;
      column-gap: 40px;
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
